{% load static %}

<!-- COOPAPAIX -->
{% if user.id == 2 %}
<script src="{% static 'js/projectjs/cooperatives/coopapaix_shape.js' %}"></script>
{% endif %}

<!-- EKO -->
{% if user.id == 81 %}
<script src="{% static 'js/projectjs/cooperatives/eko_shape.js' %}"></script>
{% endif %}

<!-- COOPASOD -->
{% if user.id == 84 %}
<script src="{% static 'js/projectjs/cooperatives/coopasod_shape.js' %}"></script>
{% endif %}

<!-- SOCABEN -->
{% if user.id == 9 %}
<script src="{% static 'js/projectjs/cooperatives/socaben_shape.js' %}"></script>
{% endif %}

<!-- SOCOPENHA -->
{% if user.id == 30 %}
<script src="{% static 'js/projectjs/cooperatives/socopenha_shape.js' %}"></script>
{% endif %}

<!-- KAKO -->
{% if user.id == 8 %}
<script src="{% static 'js/projectjs/cooperatives/kako_shape.js' %}"></script>
{% endif %}